---
layout: layouts/base.njk
---
<!-- Delete this message, it will also remove the component CSS from the bundle -->
{%- css %}{% include "public/css/message-box.css" %}{% endcss %}
<div class="message-box">
	<p>Silahkan unduh tautan dibawah untuk melihat laporannya. Untuk laporan tahun yang sedang berlangsung akan di perbaharui secara berkala serta apabila ada kesalahan penulisan atau ketidaksesuaian mohon untuk dilaporkan ke bendahara, terima kasih.</p>
	<ol>
		<li><a href="https://drive.google.com/file/d/1otp1G2qkBS2QGQ5Tkd4UXs5uFw9XJiqM/view?usp=sharing">Tahun 2017</a></li>
		<li><a href="https://drive.google.com/file/d/1HjtQDQNvW4sPVjjgZDZDROrdcCNoeKM9/view?usp=sharing">Tahun 2018</a></li>
		<li><a href="https://drive.google.com/file/d/1jdWcJRZdgLQ_YQz_zkLzPiugM4zDnVmI/view?usp=sharing">Tahun 2019</a></li>
		<li><a href="https://drive.google.com/file/d/12JzJ1N7I-njoJlglVfsRAK71nrnbaPev/view?usp=sharing">Tahun 2020</a></li>
		<li><a href="https://drive.google.com/file/d/1qk76YAR3dsDP1GuyJdLVucnTTdTAuTaQ/view?usp=sharing">Tahun 2021</a></li>
		<li><a href="https://drive.google.com/file/d/1kmVp-YnluaVQ0aNpRLCKuU7loq342y5R/view?usp=sharing">Tahun 2022</a></li>
		<li><a href="https://drive.google.com/file/d/10FXKF-DfqlJVuPs6cs4WiYO_FOhzSBlS/view?usp=sharing">Tahun 2023</a></li>
    <li><a href="">Tahun 2024</a></li>
		<li><a href="">Tahun 2025</a></li>
	</ol>
</div>
<!-- Stop deleting -->

